.sidebar {
    display: flex;
    position: relative;
    padding: 20px 10px;
    align-items: center;
    justify-content: space-around;
    height: 090vh;
}

.sidebar_logo {
    // padding: 0px 50px;
    // position: absolute;
    // left: 0;
    top: 100px;
}

.my_img img {
    flex: 2;
    float: left;
    justify-content: space-around;
    height: calc(100vh - 100px);
    transition: .5s ease;
}

.sb_text {
    font-size: 70px;
    font-weight: 700;
}

.sb_icon {
    left: 0;
    margin-top: 95px
}

// type animate
// .typed-animation {}

.typed-out {
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.25rem solid #fff;
    font-size: 3rem;
    font-weight: 700;
    animation: typing 8s steps(40) infinite, blinking 1s infinite;
}

@keyframes typing {

    0%,
    100% {
        width: 0;
    }

    50%,
    90% {
        width: 100%;
    }
}

@keyframes blinking {

    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: #fff;
    }
}



@media screen and (max-width: 1205px) {
    .my_img img {
        zoom: 0.8;
        transition: .5s ease;
    }

    .sidebar_logo {
        display: flex;
        justify-content: center;
    }

}


@media screen and (max-width: 1070px) {
    .sidebar {
        justify-content: center;
    }

    .my_img img {
        display: none
    }

    .sb_text {
        margin-top: 50px;
    }

}

@media screen and (max-width: 600px) {


    .sb_text {
        margin-left: auto;
        font-size: 25px;
    }

    .typed-out {
        font-size: 33px;
    }

    .sidebar_logo {
        top: 40px;
    }
}