.sidebar {
    display: flex;
    position: relative;
    padding: 20px 10px;
    align-items: center;
    justify-content: space-around;
    height: 090vh;
}

.sidebar_logo {
    padding: 0px 50px;
    position: absolute;
    left: 0;
    top: 100px;
}

.my_img img {
    flex: 2;
    float: left;
    justify-content: space-around;
    height: calc(100vh - 100px);
}

.sb_t {
    flex: 1;
}

.sidebar_text {
    font-size: 40px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    // border-right: 2px solid #000;
    animation: typing 3s steps(52), blink step-end 0, 5s infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }

}