.sidebar {
    display: flex;
    position: relative;
    padding: 20px 10px;
    align-items: center;
    justify-content: space-around;
    height: 090vh;
}

.sidebar_logo {
    padding: 0px 50px;
    position: absolute;
    left: 0;
    top: 100px;
}

.my_img img {
    flex: 2;
    float: left;
    justify-content: space-around;
    height: calc(100vh - 100px);
}

.sb_text {
    font-size: 70px;
    font-weight: 700;
}

// type animate
.typed-animation {
    display: inline-block;
}

.typed-out {
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.25rem solid #fff;
    font-size: 3rem;
    font-weight: 700;
    animation: typing 8s steps(40) infinite, blinking 1s infinite;
}

@keyframes typing {

    0%,
    100% {
        width: 0;
    }

    50%,
    90% {
        width: 100%;
    }
}

@keyframes blinking {

    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: #fff;
    }
}