#card_pj {
    display: flex;
    flex-grow: 2;
    width: 400px;
    max-width: 500px;
    height: 300px;
    flex-direction: column;
    margin: 20px 15px;
    padding: 5px;
    border-radius: 30px;
    overflow: hidden;

    border-radius: 36px;
    background: linear-gradient(315deg, #203c3a, #254844);
    box-shadow: -8px -8px 16px #1e3936,
        8px 8px 16px #284d4a;

}

#card_pj .card_img {
    display: flex;
    justify-content: center;
}

#card_pj .card_img img {
    position: relative;
    border-radius: 30px;
    border-radius: 4px;
    max-height: 380px;
    width: 102%;
    max-width: 500px;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
}

#card_pj .card_img:hover img {
    transition: .5s ease;
    opacity: 0.3;
}

#card_pj .card_img .card_github {
    position: absolute;
    margin-top: 70px;
    display: none;
    font-weight: 600;
}

#card_pj .card_img:hover .card_github {
    display: inline;
}


#card_pj .card_header {
    text-align: center;
    height: 40px;
    font-size: 34px;
    font-weight: 500;
}

#card_pj .card_content {
    text-align: center;
    height: 20%;
}