#project_latest {

    margin-top: 10vh;
    padding: 10px 20px;
    min-height: 35vh;
    border-radius: 50px;
    background: #234340;
    box-shadow: 20px 20px 60px #274a46,
        -20px -20px 60px #366762;
}

.project_card {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}